/* Background */

$main-bg: #F9F0DA;
$block-bg: #A3D0C3;
$element-bg: #7BA7AB;
$sub-bg: #e3dcca;

/* Font */

$main-color: #474747;
$text-color: #9E9C9C;

$common-size: 17px;
$little-size: 14px;

/* Border */

$base-border: 2px solid $element-bg;
$radius: 5px;

/* Size */

$ui-size: 42px;
$sub-ui-size: 25px;

/* Padding */


$padding-base: 10px;